.Carouselle {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-self: center;
  text-align: left;
  margin-bottom: 4rem;
}

.prompts::-webkit-scrollbar {
  display: none;
}

.prompts {
  overflow: scroll;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  width: 100%;
}

.Carouselle h1 {
  margin-left: 6rem;
}

.icon:hover {
  opacity: 0.6;
}

.popular h1 {
  cursor: pointer;
}

.popular h1:hover {
  opacity: 0.9;
}

.carouselle_container {
  display: flex;
  flex-direction: row;
  background-color: none;
  align-items: center;
  justify-content: center;
}

.scroll {
  height: 5rem;
  width: 5rem;
  position: relative;
  left: 100rem;
  z-index: 999;
  border: none;
  border-radius: 50%;
  background-color: white;
  color: #428cff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  margin: 0;
}

.carouselle_container {
  z-index: 1;
  background: none;
}

.scroll:nth-child(1) {
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 58rem;
  left: 0rem;
  z-index: 999;
  border: none;
  border-radius: 50%;
  background-color: white;
  color: #428cff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
.popular {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.icon {
  width: 1.3rem;
  height: 1.3rem;
  color: #428cff;
  margin-left: 0.75rem;
  margin-top: 0.5rem;
  font-weight: 100;
}

@media (max-width: 1000px) {
  .prompts {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    overflow: visible;
  }
}

@media (max-width: 800px) {
  .prompts {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    overflow: visible;
  }
}
