.Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1B1B1B;
    height: 6rem;
    border-color:  #428cff;
    border-width: 30px;
}

.Header h3{
    margin-left:7rem;
    color: white;
}


.Header h3:nth-child(1){
    cursor: pointer;
}


.link{
    margin-left:7rem;
    color: white;
    display: flex;

}

.start{
    display: flex;
    flex-direction: row;
}
.Links{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    margin-left:  -2rem;
    

}

.Links h3{
    font-weight:normal;
    cursor: pointer;
}

.Links h3:hover{
    opacity: 0.8;
}


.Links h3:nth-child(2){
    margin-left: 4rem;
}
.Links h3:nth-child(3){
    margin-left: 4rem;
}

.buttons{
    margin-right: 10rem;
}

.buttons button{
    margin:0.3rem;
    height: 3rem;
    font-size: 14px;
    border-radius: 15px;
    border: none;
    width:6rem;
    background-color: #428cff;
    color: white;
}

.buttons button:hover{
  opacity: 0.8;
}

.buttons button:nth-child(even){
    margin:0.3rem;
    height: 3rem;
    font-size: 14px;
    border-radius: 15px;
    border: none;
    width:4rem;
    background-color: white;
    color:#428cff ;
}

